# Flutter & Dart
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
*.iml

# Android
android/.cxx/
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/*/.keystore
android/*/.jks

# iOS
ios/.symlinks/
ios/Pods/
ios/.generated/

# Web
web/.dart_tool/

# Linux
linux/flutter/ephemeral/
linux/.dart_tool/

# macOS
macos/.dart_tool/
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/
windows/.dart_tool/

# Gradle
android/gradle/wrapper/gradle-wrapper.jar
.gradle/
gradlew
gradlew.bat

# Other
GeneratedPluginRegistrant.java
.DS_Store
*.log
*.lock
*.bak
*.swp
*.swo
*.swn